.my-button {
    background-color: rgb(96, 15, 172) !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    transition: background-color 0.3s ease !important;
}

.my-button:hover {
    background-color: rgb(70, 10, 120) !important; /* A darker shade of purple */
}

.text-purple {
    color: rgb(96, 15, 172) !important;
}

.border-purple {
    border-color: rgb(96, 15, 172) !important;
}
hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* hellgraue Linie */
  margin: 4rem 0;
}
.section-divider {
  border: none;
 border-top: 1px solid rgba(0, 0, 0, 0.1); /* hellgraue Linie */
  width: 1200px;
  margin: 0 auto;
}
