.my-button {
    background-color: rgb(96, 15, 172) !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    transition: background-color 0.3s ease !important;
}

.my-button:hover {
    background-color: rgb(70, 10, 120) !important; /* A darker shade of purple */
}

.text-purple {
    color: rgb(96, 15, 172) !important;
}

.border-purple {
    border-color: rgb(96, 15, 172) !important;
}

footer {
    background-color: rgb(96, 15, 172);
    color: white;
    padding: 3rem 0;
}

footer h5 {
    color: white;
    margin-bottom: 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    line-height: 1.8;
}

footer ul li a:hover {
    text-decoration: underline;
}